.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.titleSection {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}

.title {
  color: #333333;
  font-weight: 600;
}

.inputSection {
  width: 100%;
}

.inputSection input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #cccccc;
}

.inputSection input:focus {
  outline: 2px solid #a6b5f9;
}

.rightTriangle {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;

  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #b6b6b6;
}

.selectContainer {
  display: flex;
  height: 45px;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.selectContainer > span {
  color: #0088ff;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selectContainer:hover {
  background-color: #e5e5e5;
}

.dropdownContainer {
  background-color: white;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  transform: translateY(100%);
  border-radius: 8px;
  padding: 4px;
  z-index: 99;
  box-shadow: 3px 3px 11px 1px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: 3px 3px 11px 1px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 3px 3px 11px 1px rgba(0, 0, 0, 0.09);
}

.dropdownOption {
  color: #333333;
  cursor: pointer;
  user-select: none;
  padding: 12px 15px;
}

.dropdownOption.selected {
  color: #0088ff;
  background-color: rgb(240, 240, 240);
}

.dropdownOption:first-of-type {
  border-radius: 8px 8px 0px 0px;
}

.dropdownOption:last-of-type {
  border-radius: 0px 0px 8px 8px;
}

.dropdownOption:hover {
  background-color: #e5e5e5;
}

.placeholder {
  font-weight: 400 !important;
  color: #a3a2a2 !important;
}
